*{
margin:0;
padding:0;
box-sizing: border-box;
font-family: 'Lobster', cursive;

}
.container{
    background-color: #08535D;

}
.navbar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: inherit;
    padding: 20px;

}
.nav-list{
    list-style-type: none;
}
.nav-item{
    display: inline-block;

}

a{
    text-decoration: none;
    color: #99BCC4;
    margin: 10px 30px;
}
.hero-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 40px;
}

.hero-image img{
    width:100%;
}