*{
margin:0;
padding:0;
box-sizing: border-box;
font-family: 'Lobster', cursive;

}

.navbar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    top: 5%;
    left: 20%;





}

.logo a{
   margin: 10px 100px;
   color: white;
   text-decoration: none;


}
.nav-list{
    list-style-type: none;
}
.nav-item{
    display: inline-block;

}

.nav-item a{
    text-decoration: none;
    color: white;
    margin: 10px 60px;
}
.hero-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}


.hero-image img{
    width: 100%;
}
.hero-text{
    position: absolute;
    top:60%;
    left:50%;
    transform: translate(-50%, -50%);
    color:#08535D;
    font-size: 32px;
    text-align: center;

}

.content-container{
    margin-top: 20px;
    padding: 10px;

}

.row{
    display:flex;
    justify-content: center;
    align-items: center;
    gap:20px;

}

.cards{
    padding: 20px 60px;
    background-color: #08535D;
    color: #99bcc4;
    border-bottom-left-radius:20px;
    border-top-right-radius:20px;
    text-align: center;
    width:100%;

}

.cards h2, p{
    margin-bottom: 10px;
}



@media screen and (max-width:480px){
    html,body{
        margin:0;
        padding: 0;
        overflow-x: hidden;
    }

    .hero-image img{
        width:100%;
    }

    .navbar{
        display: flex;
        justify-content: space-around;
        align-items: center;
        position: absolute;
        top: 5%;
        left: 2%;


    }

    .nav-item a{
        display: none;

    }


    .hero-text{
        position: absolute;
        top:50%;
        left:50%;
        transform: translate(-50%, -50%);
        color:#08535D;
        font-size: 1em;
        margin-top: 20px;
        text-align: center;

    }

    .hero-text h1{
        margin-bottom: 10px;
        font-size: 1em;
    }

    .content-container{
        padding: 20px;
    }

    .row{
        display:flex;
        flex-direction: column;
        width:100%;
        justify-content: center;
        align-items: center;
        gap:20px;

    }
}